#cadastro{
	color:#fff;
	float: left;
	font-weight: bold;
	font-size: 25px;
}

.navbar{
	margin-left: 10px;
    margin-right: 10px;
}

.novoTitulo{
	margin-left: 10px;
    margin-right: 10px;
}

.alert{
	margin-top: 12px;
	margin-left: 10px;
	margin-right: 10px;
}

#salvar{
	margin-left: 16px;
}

.panel-title{
	font-weight: bold;
}

#PesquisaTitulos{
	color:#fff;
	float: left;
	font-weight: bold;
	font-size: 25px;
	
}

.PesquisaTitulos{
	margin-left: 10px;
    margin-right: 10px;
	
}