#cadastro{
	color:#000000;
	float: left;
	font-family: fantasy;
	font-size: 25px;
}

.navbar{
	margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.novoTitulo{
	margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 0.6);
}



}

.alert{
	margin-top: 12px;
	margin-left: 10px;
	margin-right: 10px;
}

#salvar{
	margin-left: 16px;
}

.panel-title{
	font-weight: bold;
	font-size: 25px;
		float: left;
		margin: 10px;
	
}

#PesquisaTitulos{
	color:#000000;
	font-weight: bold;
	font-size: 25px;	
	
}

.PesquisaTitulos{
	margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: rgba(245, 245, 245, 0.6);
    
}



#linknovo{
	margin-left: 1700px;
}

#titulosSalvos{
	float:right;
}

.botao-novo{
	float:right;
	margin:20px;
}

#lupa{
	margin: 0px 0px 16px 0px;
}

.navbar-light{
	background-color: #585858;
}

body {  
  background-image: url("/img/fundo.png");
  background-repeat: no-repeat;
  background-size: 100%;
	
}

.card-body{
	background-color: rgba(245, 245, 245, 0.6);
	
}

.esse{
	margin-top: 20px;
	margin-left: 10px;
    margin-right: 10px;

}



