<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>


<title>Cobrança</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div>
		<nav class="navbar navbar-dark bg-dark">
			<div class="text-right" id="cadastro">
				<a class="navbar-brand" href="/titulos/novo"> <img
					src="/img/cadastro.png" width="40" height="40">
				</a> <a>Cadastro de Pendências </a>
			</div>
		</nav>
	</div>

	
	
	
		<section layout:fragment="conteudo">
		<p>Conteúdo Principal</p>
		</section>
	
	
	
	
		<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/jquery.maskMoney.min.js"></script>
	
</body>
</html>	