<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>

</head>

<section layout:fragment="conteudo">


	<div class="card card-body PesquisaTitulos">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class=clearfix>
					<h1 class="panel-title">
						Pesquisa de Títulos <img src="/img/lupa.png" width="30"
							height="30" id="lupa">
					</h1>
					<a class="btn btn-outline-primary btn-link botao-novo"
						href="/titulos/novo">Novo título </a>
				</div>
			</div>


			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>

							<th class="text-center" width="10%">Código #</th>
							<th>Descrição <img src="/img/lapis.png" width="20"
								height="20"></th>
							<th class="text-center" width="15%">Data De Vencimento <img
								src="/img/calendario.png" width="20" height="20"></th>
							<th class="text-right" width="10%">Valor <img
								src="/img/dinheiro.png" width="20" height="20"></th>
							<th class="text-center" width="10%">Status <img
								src="/img/ampulheta.png" width="20" height="20"></th>
							<th width="15%"></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="titulo : ${titulos}">
							<td class="text-center" th:text="${titulo.codigo}">1</td>
							<td th:text="${titulo.descricao}"></td>
							<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
							<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
							<td class="text-center"><span class="label"
								th:text="${titulo.status.descricao}"
								th:classappend="${#strings.toString(titulo.status) == 'PENDENTE' ? 'badge badge-pill badge-danger' : 'badge badge-pill badge-success'}"></span>
							</td>
							<td class="text-center">
							<a class="btn btn-link btn-xs"
								th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}"
								title="Editar" rel="tooltip" data-placement="top"> <img
									src="/img/editar.png" width="25" height="25">


							</a> <a class="btn btn-link btn-xs" 
								th:href="@{/titulos/delete/{codigo}(codigo=${titulo.codigo})}"
								title="Excluir" rel="tooltip" data-placement="top"><span
									class="glyphicon glyphicon-remove"></span> <img
									src="/img/excluir2.png" width="25" height="25">
							</a>
							<a class="btn btn-link btn-xs js-atuliazar-status" th:if="${titulo.status.descricao}"
							title="Receber" rel="tooltip" data-placement="top"
							th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
							
							<span><img src="/img/verificado.png" width="30" height="30"></span>
							
							
							</a>
							</td>

						</tr>



						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum
								Título foi encontrado</td>

						</tr>




					</tbody>

				</table>
			</div>
		</div>





	</div>
</section>
</html>